.main-ropasc {
  display: flex;
  justify-content: center;
  padding: 6rem;
  color: $white-color;
  background: $main-col;
  font-family: "Luckiest Guy", cursive;
  font-weight: lighter;
  text-align: center;
  text-shadow: -1px -1px 0 $dark-dark-col, 1px -1px 0 $dark-dark-col,
    -1px 1px 0 $dark-dark-col, 1px 1px 0 $dark-dark-col;
  border: 3px solid black;
  margin: 10rem 0;
  .ropasc-container {
    width: min-content;
    .ropasc-grid {
      border: 3px solid black;
      border-left: none;
      border-right: none;
      background: $blue-col;
      box-shadow:15px 150px 66px -123px rgba(0,0,0,0.4) inset, 15px -150px 66px -123px rgba(0,0,0,0.4) inset;
      h1 {
        grid-area: head;
        font-size: 2.4rem;
      }
      .form {
        grid-area: form;
        align-self: center;
        display: flex;
        justify-content: space-around;
        form label {
          font-size: 1.2rem;
          text-decoration: 3px var(--clr-underline) underline;
        }
        .nameButton {
          background-color: $blue-col;
          font-family: "Luckiest Guy", cursive;
          border-radius: 4px;
          font-size: 1.2rem;
          font-weight: lighter;
          color: $white-color;
          padding: 0.3rem;
          text-shadow: -1px -1px 0 var(--color-dark),
            1px -1px 0 var(--color-dark), -1px 1px 0 var(--color-dark),
            1px 1px 0 var(--color-dark);
        }
        .nameButton:hover {
          background-color: $white-color;
          color: $blue-col;
        }
      }
      h1,
      #name,
      .theMachine,
      .zombie,
      .machine,
      #user-choice,
      #result,
      .score,
      #computer-choice,
      #userScore,
      #computerScore {
        align-self: center;
        justify-self: center;
      }
      #name {
        grid-area: a;
      }
      .theMachine {
        grid-area: c;
      }
      .zombie,
      .machine {
        justify-self: center;
      }
      .zombie {
        grid-area: d;
      }
      .machine {
        grid-area: f;
      }
      .imgGame,
      .imgPcGame {
        visibility: hidden;
        display: flex;
        justify-content: center;
      }
      .imgGame,
      #user-choice {
        grid-area: g;
      }
      .imgPcGame,
      #computer-choice {
        grid-area: i;
      }

      .imgGame img,
      .imgPcGame img {
        position: absolute;
      }
      #result {
        grid-area: h;
        color: $white-color;
      }
      #user-choice,
      #computer-choice,
      #result {
        font-size: 2rem;
        z-index: 10;
      }
      #userScore,
      .score,
      #computerScore {
        font-size: 2rem;
      }
      #userScore,
      .score,
      #computerScore {
        border-bottom: 1px solid $dark-dark-col;
        border-top: 1px solid $dark-dark-col;
        border-radius: 1rem 1rem 1rem 1rem;
        padding: 1.1rem 1.4rem 0.6rem;
        color: $orange-clr;
      }
      .underline-score {
        font-size: 2.4rem;
        color: $white-color;
        text-decoration: 3px underline $orange-clr;
      }
      #userScore {
        grid-area: m;
      }
      .score {
        grid-area: n;
        margin-top: 1rem;
      }
      #computerScore {
        grid-area: o;
      }

      .buttons {
        grid-area: l;
        display: flex;
        justify-content: space-around;
        button {
          font-family: "Luckiest Guy", cursive;
          font-size: 1.5rem;
          color: $white-color;
          text-decoration: none;
          border: 3px solid $white-color;
          padding-top: 2.4rem;
          padding-bottom: 3.4rem;
          border-radius: 22%;
        background: $blue-col;
        width: 8rem;
        text-shadow: -1px -1px 0 $dark-dark-col, 1px -1px 0 $dark-dark-col,
        -1px 1px 0 $dark-dark-col, 1px 1px 0 $dark-dark-col;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        transition: all 0.1s;
        }
        button:hover {
            color: $col-button-hover;
            text-decoration: none;
            background-color: rgb(43, 70, 121);
          }
          button:active {
            color: $col-button-hover;
            text-decoration: none;
            background-color: rgb(43, 70, 121);
            transform: scale(1.1);
          }
      }
      .star {
        grid-area: e;
        width: 130px;
        align-self: end;
        justify-self: center;
        img {
          width: 100%;
        }
      }
      #vs {
        grid-area: e;
        align-self: center;
        font-size: 3rem;
        z-index: 10;
        margin-top: 4rem;
      }
    }
  }
  .left,
  .right {
    width: 100px;
    background: $blue-col;
    border: 3px solid $dark-dark-col;
    box-shadow:15px 150px 66px -123px rgba(0,0,0,0.4) inset, 15px -150px 66px -123px rgba(0,0,0,0.4) inset;
  }
  .left {
    border-radius: 4rem 0 0 4rem;
    border-right: 2px dashed $white-color;
  }
  .right {
    border-radius: 0 4rem 4rem 0;
    border-left: 2px dashed $white-color;
    .resetButton {
      border: none;
      font-size: 1rem;
      background-color: transparent;
  font-family: "Luckiest Guy", cursive;
  font-weight: lighter;
  color: $white-color;
  text-shadow: -1px -1px 0 $dark-dark-col, 1px -1px 0 $dark-dark-col,
    -1px 1px 0 $dark-dark-col, 1px 1px 0 $dark-dark-col;
    transition: all 0.1s;
    }
    .resetButton:hover {
        color: $orange-clr;
      }
      .resetButton:active {
        color: $red_alert;
        transform: scale(1.1);
      }
  }
}
