

:root {
  --bg-color: #6495ed;
  --bg-color-light: rgba(211, 226, 255, 0.804);
  --color-dark: #333;
  --color-white: #fff;
  --color-alert: rgb(255, 81, 0);
  /* --clr-button: #fffbbe; */
  --clr-button-hover: rgb(43, 70, 121);
  --clr-underline: rgb(255, 172, 38);
  --bg-color-main: rgba(255, 121, 121, 0.3);

}


.resetButton {
  background-color: transparent;
  font-family: "Luckiest Guy", cursive;
  font-weight: lighter;
  color: $white-color;
  text-shadow: -1px -1px 0 var(--color-dark), 1px -1px 0 var(--color-dark),
    -1px 1px 0 var(--color-dark), 1px 1px 0 var(--color-dark);
}
.nameButton {
  
  padding-top: 5px;
}


.resetButton:hover {
  background-color: var(--clr-button-hover);
  color: var(--clr-underline);
}

.resetButton:active {
  color: var(--color-alert);
}




